body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center
}

a {
  color: seashell;
}

div {
  display: block;
}

nav {
  text-align: right;
  flex-grow: 1;
}

header img {
  height: 50px;
  padding-left: 10px;
  position: relative;
  float: left;
  
}

header {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  position: fixed;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.content {
  margin: auto;
  background-color: black;
  width: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-container .location

.item {
  padding: 5px;
}

.item img {
  display: block;
  height: 200px;
  margin: 10px;
}

.item span {
  display: block;
}

.location {
  opacity: 1;
  padding: 10px;
  margin: 5px 20px;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#mission {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  padding-top: 70px;
}

#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  margin-top: 70px;
}

#locations {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 500px;
  padding-top: 70px;
}

